body {
	margin: 0;
}

html::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.waves-effect.waves-blue .waves-ripple {
	/* The alpha value allows the text and background color
   of the button to still show through. */
	background-color: rgba(144, 202, 249, 0.65);
}

#filenameInput {
	margin-bottom: 0;
	/*margin-top: 0.5rem;*/
	/*border: none;*/
}

#filenameInput:focus {
	border-color: #90caf9;
}

#topbar {
	/*margin-top: 0.5rem;
	margin-bottom: 0.25rem;
*/
	display: flex;
}

#editor {
	border: none;
	height: 100vh;
	height: auto;
	flex-grow: 1;
}

.ql-toolbar.ql-snow {
	border: none;
}

.ql-editor::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.ql-editor {
	font-family: "Literata", serif;
}

#editorContainer {
	flex-flow: column;
	height: 100vh;
	display: flex;
	padding: 0.25rem;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote {
	font-size: 1.25rem;
}

.ql-snow .ql-editor h1 {
	font-size: 2.5rem;
}

.ql-snow .ql-editor h2 {
	font-size: 2rem;
}
